{% extends "/users/base.html" %} {% block title %}Create a User{% endblock %} {%
block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col col-9">
			<h1 class="my-4">Edit a User</h1>
			<form method="POST">
				<div class="row my-3">
					<label for="first_name">First Name</label>
					<input
						class="col-6 mx-2"
						type="text"
						name="first_name"
						value="{{user.first_name}}"
					/>
				</div>
				<div class="row my-3">
					<label for="last_name">Last Name</label>
					<input
						class="col-6 mx-2"
						type="text"
						name="last_name"
						value="{{user.last_name}}"
					/>
				</div>
				<div class="row my-3">
					<label for="image_url">Image URL</label>
					<input
						class="col-6 mx-2"
						type="text"
						name="image_url"
						value="{{user.image_url}}"
					/>
				</div>
				<div class="row my-3 justify-content-end">
					<button
						class="btn btn-outline-primary mx-1"
						formaction="/users/{{user.id}}"
					>
						Cancel
					</button>
					<button class="btn btn-success mx-1" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
